body {
    font-family: 'Zilla Slab', serif;
}

.headerText {
    padding-top: 2.5%;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    font-weight: 50px;
    color: rgb(240, 224, 196);
}